<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h2>Update Your Credentials</h2>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors  %}
        {{error}}
        {% endfor %}
        {% endif %}
        {% for field in form  %}
        {{field.label_tag}} {{field}} {{field.errors | striptags}} <br> 
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}
    <br> <br>
    <a href="{% url 'logout'%}">LogOout</a>
</body>
</html>