<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome {{name}}</h2>
    {% if messages %}
    {% for message in messages  %}
    {{message}}
    {% endfor %}
    {% endif %}
    <a href="{% url 'logout'%}">Logout</a>
    <br>
    <a href="{% url 'changepassword1'%}">ChangePassword</a>
    <br>
    <a href="{% url 'changepassword2'%}">ChangePassword without Old password</a>
</body>
</html>