<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .post{
            border:1px solid black;
            margin:20px;
            padding:2px;
        }
        .date{
            text-align:right;
        }
    </style>
</head>
<body>
    <h1>
        MY Posts
    </h1>
    {% if is_paginated %}
    {% for post in page_obj %}
    <div class="post">
      <h2>{{post.title}}</h2>
      <p>{{post.desc|truncatewords:10}}<a href="{% url 'detailview' post.id %}" style="text-decoration:none">Readmore...</a></p>
      <div class="date">
        <small>{{post.publish_date}}</small>
      </div>
    </div>
    {% endfor %}

    <div>
        <span>
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

           <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
            
           {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}

        </span>
    </div>
    {% else %}
    {% for post in post_list  %}
    <div class="post">
        <h2>{{post.title}}</h2>
        <p>{{post.desc  |truncatewords:100}}</p>
        <div class="date">
          <small>{{post.publish_date}}</small>
        </div>
      </div>
    {% endfor %}
    {% endif %}
</body>
</html>