<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Page Title</th>
                <th>Page Category</th>
                <th>Page Published Date</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{page.id}}</td>
                <td>{{page.page_name}}</td>
                <td>{{page.page_category}}</td>
                <td>{{page.page_publish_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>