<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Post Title</th>
                <th>Post Category</th>
                <th>Post Published Date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.post_title}}</td>
                <td>{{post.post_category}}</td>
                <td>{{post.post_publish_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>