{% extends "blog/base.html" %}
{% load static %}

{% block content %}
 <div class="col-10">
    <h3 class="text-white my-5">About Page</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas deleniti commodi, nostrum qui, cumque nihil veritatis, fugiat numquam fuga sed accusantium facilis laborum reiciendis ullam facere quibusdam quia adipisci! Dolorem.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quo voluptatum ab ex quae non id? Vitae ab quam vel repellendus voluptatum. Cum ipsa tempore molestias quas. Quos iste, hic, itaque sint ipsa nostrum similique fuga minima quam nulla fugit! Dolore doloremque incidunt ex fugit nobis quidem asperiores, dicta perferendis?</p> 
</div>

{% endblock content %}
